{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "useBuiltIns": false
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "@babel/proposal-pipeline-operator",
      {
        "proposal": "fsharp"
      }
    ],
    "@babel/plugin-proposal-partial-application"
  ]
}